/* Helper classes */
.container-slider{
	overflow: hidden;
}
.logo-ccbol{
	width: 350px;
}

.slider {
	position: relative;
	z-index: 200;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 7em;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	padding-bottom: 50px;
}

.slide {
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	opacity: 0;
}

.slide--current {
	position: relative;
	z-index: 100;
	visibility: visible;
	opacity: 1;
}

.slide__mover {
	position: relative;
	z-index: 100;
	min-height: 460px;
}

.slide__title {
	font-size: 1.75em;
	font-weight: normal;
	margin: 0 auto;
	padding: 1em 0 0 0;
}

.slide__title span {
	font-size: 55%;
	font-weight: bold;
	display: block;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #35303d;
}

.slider__nav {
	position: absolute;
	bottom: 2em;
	width: 100%;
	text-align: center;
}


.button {
	font-size: 1.31em;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 0 25px;
	padding: 0;
	cursor: pointer;
	color: #fc5f45;
	border: none;
	background: none;
}

.button:focus {
	outline: none;
}

.button:hover {
	color: #e9452a;
}

.text-hidden {
	position: absolute;
	top: 200%;
}

.button--nav-prev{
	position: absolute;
    left: 30px;
    top: 215px;
    z-index: 1000;
}
.button--nav-next{
	position: absolute;
    right: 30px;
    top: 215px;
    z-index: 1000;
}

.button--close {
	font-size: 1.55em;
	position: absolute;
	top: 30px;
	right: 30px;
	margin: 0;
	opacity: 0;
	color: #50505a;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.content--open .button--close {
	opacity: 1;
}



/* Zoomer */
.zoomer {
	position: relative;
	height: 360px; /* this is needed for IE10 so that vertical flexbox centering works */
}

.flex-center {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.zoomer__image {
	display: block;
	margin: 0;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

.zoomer__area,
.preview {
	position: absolute;
	top: 44%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.zoomer__area:focus {
	outline: none;
}

.zoomer__area--size-1 {
	/* Apple Watch */
	width: 96px;
	height: 118px;
}

.zoomer__area--size-2 {
	/* iPhone */
	width: 112px;
	height: 198px;
}

.zoomer__area--size-3 {
	/* MacBook */
	width: 315px;
	height: 200px;
}

.zoomer__area--size-4 {
	/* iPad */
	width: 150px;
	height: 200px;
}

.zoomer__area--size-5 {
	/* iMac */
	width: 315px;
	height: 189px;
}

.preview {
	/*overflow: hidden;*/
	/*background: #18191b;*/
	/*cursor: pointer;*/
}

.preview img {
	/*display: block;*/
	border-radius: inherit;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.zoomer--active .preview img {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

.rounded {
	border-radius: 15px;
}

.rounded-right {
	border-radius: 0 15px 15px 0;
}

.preview__content {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
/* Content */
.content {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: -100%;
	overflow: hidden;
	overflow-y: scroll;
	background: white;
	width: 100%;
	height: 100vh;
	-webkit-overflow-scrolling: touch;
}

.content--open {
	left: 0;
}

.content__item {
	position: absolute;
	top: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	height: 0;
	min-height: 100%;
	margin: 0 auto;
	padding: 2em 0;
	pointer-events: none;
	opacity: 0;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.content__item--current {
	pointer-events: auto;
	opacity: 1;
}

.content__item--reset {
	height: auto;
}

.content h2 {
	font-size: 2.5em;
	font-weight: normal;
	margin: 0;
}

.content h3 {
	font-size: 1.95em;
	font-weight: normal;
	margin: 0.25em 0 0.5em;
	color: #685884;
}

.content p {
	font-size: 16px;
	line-height: 1.5;
}

.content__item-img {
	display: block;
	max-width: 200px;
	max-height: 150px;
	-webkit-transform: translate3d(-120%,0,0);
	transform: translate3d(-120%,0,0);
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}

.content__item--current .content__item-img {
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
}

.content__item-inner {
	padding: 0 10vw 0;
	opacity: 0;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
}

.content__item--current .content__item-inner {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/**************************/
/* All synced transitions */
/**************************/

.zoomer {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.zoomer.zoomer--notrans {
	-webkit-transition: none;
	transition: none;
}

.zoomer__image {
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

.zoomer--active .zoomer__image {
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.preview img {
	-webkit-transition: -webkit-transform 0.6s 0.3s;
	transition: transform 0.6s 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.zoomer--active .preview img {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.content {
	-webkit-transition: left 0s;
	transition: left 0s;
}

.content__item {
	-webkit-transition: opacity 0s;
	transition: opacity 0s;
}

.content,
.content__item {
	/* delay for content to disappear and zoomer to start transitioning back to 0 */
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.content--open,
.content__item--current {
	-webkit-transition: none;
	transition: none;
}

.content__item-img {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,1,0.8,1);
	transition-timing-function: cubic-bezier(0.7,1,0.8,1);
}

.content__item--current .content__item-img {
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.content__item-inner {
	-webkit-transition: -webkit-transform 0.6s, opacity 0.3s;
	transition: transform 0.6s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.7,1,0.8,1), ease;
	transition-timing-function: cubic-bezier(0.7,1,0.8,1), ease;
}

.content__item--current .content__item-inner {
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1), ease;
	transition-timing-function: cubic-bezier(0.2,1,0.3,1), ease;
	-webkit-transition-duration: 1.7s;
	transition-duration: 1.7s;
}

/*slider*/
.text-fecha,.text-congreso,.titulo_slide_2,.rayas,.text_slide_2,.titulo-congreso,.lugar-fecha,.timer{
	visibility: hidden;
}	

.text-ccbol{
	margin-top:250px;
}


/*countdown time*/

.t-timer{
	/*background:#fc5f45;*/
	text-align: center;
	color:white;
	font-family: 'Comfortaa', cursive;
}
.t-dia, .t-hora, .t-minuto, .t-segundo{
	background: #fc5f45;
}
.col-timer{
	    padding-right: 1px;
    padding-left: 1px;
}
#dia, #hora, #minuto, #segundo{
	font-size: 25px;
}

/*presentacion*/
#presentacion{
	margin-top: 100px;
}

/*footer*/
footer{
    margin-top:150px; 
    padding: 15px;
    height: 65px;
    border-top: 1px solid #efefef;
}
/*logos*/

.img-ccbol, .img-sistemas{
  max-width: 265px;
  margin: 0 auto;
  display: block;
}
.img-sistemas-slider{
	margin-top: 40px;
}
.img-usfx{
  max-width: 145px;
  margin: 0 auto;
  display: block;
}
/*background slider*/
#slide-n2{
  background-image:url("../images/bannerIT.png");
background-repeat: no-repeat;
background-size: cover; 
 background-position: center; 
}
#slide-n1{
background-image:url("../images/port.jpg");
background-repeat: no-repeat;
background-size: cover; 
 background-position: center; 
}
/*texto primer slider*/
.titulo-congreso{
  color:white;
  text-shadow: 0px 1px 3px #2D2D2D;
  font-size: 32px !important;
  font-weight: bold;
}
.lugar-fecha{
  color:white;
  text-shadow: 0px 1px 3px #2D2D2D;
  font-size: 24px !important;
  font-weight: bold;
}


/* Media Queries */
@media screen and (max-width: 50em) {
	.content__item {
		display: block;
	}
	.content__item-img {
		max-width: calc(100% - 80px);
		max-height: 70vh;
	}
	.content h2 {
		font-size: 3em;
	}
	.content__item-inner {
		font-size: 82%;
		padding: 4em 3em 2em;
	}
}

@media (max-width: 767px) {
	.button--nav-prev{
		left: -5px;
	}
	.button--nav-next{
		right: -5px;
	}
	.logo-ccbol{
		width: 250px;
	}
	.preview {
		top:85px;
	}
	.zoomer__area,
	.preview {
		top:44%;
	}
	.text-ccbol{
		margin-top: 13%;
	}
	.text-congreso{
		font-size: 16px;
	}
	.text-titulo-tema{
		font-size: 25px;
	}
	.text-fecha{
		font-size: 14px;
	}
	#presentacion{
		margin-top: 50px;
	}
	.titulo-congreso{
  	 	 font-size: 24px !important;
 	 }
  	.lugar-fecha{
    	font-size: 18px !important
  	}
}