/* General Blueprint Style */
/*@import url(http://fonts.googleapis.com/css?family=Lato:400,700);*/
@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bpicons/bpicons.woff') format('woff'),
	url('../fonts/bpicons/bpicons.ttf') format('truetype'),
	url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
} /* Made with http://icomoon.io/ */


@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

/******************** TYPOGRAPHY ********************/

/*
body {

	
	line-height: 25px;
}*/
/* Main styles */
body {
	/*font-family: "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;*/
	color: #2D2D2D;
	/*background: #222125;*/
	font-family: 'Lato', sans-serif!important;
	font-weight: 300 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #5C5EDC;
	outline: none;
}

a:focus {
	color: #ddd;
}

a:hover {
	color: #fff;
}
