/*
|----------------------------------------------------------------------------
| NAVBAR STYLE
|----------------------------------------------------------------------------
*/
.navbar-nemo {
  background-color: #fff;
  border-color: #efefef;
  transition: all 0.4s;
  margin-bottom: 0px;
}
.navbar-nemo .navbar-nav > li {
  font-weight: 500;
}
.navbar-nemo .navbar-nav > li > a {
  color: #272727;
}
.navbar-nemo .navbar-nav > li > a:hover,
.navbar-nemo .navbar-nav > li > a:focus {
  background-color: transparent;
}
.navbar-nemo .navbar-nav > .active > a {
  background-color: transparent;
}
.navbar-nemo .navbar-collapse {
  border-color: #efefef;
}
.navbar-brand {
  line-height: 30px;
  height: 53px;
  padding: 0px 15px;
}
.navbar-brand img {
  height: 100%;
}
.appear-onscroll {
  top: -75px;
}
.navbar-toggle {
    position: relative;
    width: 38px;
    height: 38px;
    padding: 0;
    border: 0;
    margin-top: 8px;
    margin-right: 20px;
    overflow: hidden;
}
.navbar-toggle .icon-bar {
  position: absolute;
  left: 7px;
  top: 18px;
  width: 25px;
  height: 3px;
  transition: all 0.5s;
  background-color: #fff !important;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 0;
}
.navbar-toggle .icon-bar-top {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.navbar-toggle .icon-bar-middle {
  opacity: 0;
  left: -30px;
}
.navbar-toggle .icon-bar-bottom {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.navbar-toggle.collapsed .icon-bar-top {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: 10px;
}
.navbar-toggle.collapsed .icon-bar-middle {
  opacity: 1;
  left: 7px;
}
.navbar-toggle.collapsed .icon-bar-bottom {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  top: 27px;
}
@media (min-width: 768px) {
  .navbar-transparent {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-transparent .navbar-nav > li {
    font-weight: 500;
  }
  .navbar-transparent .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-transparent .navbar-nav > li > a:hover {
    color: #fff !important;
  }
  .navbar-transparent .navbar-nav > .active > a {
    color: #fff !important;
  }
  .navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 26px;
  }

}

@media (max-width: 768px) {
  .navbar-brand {
    height: 52px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
  
}


/******************** SECTION HEADING ********************/
.section-heading {
  margin-bottom: 34px;
}
.section-heading .heading-text {
  margin-top: 0;
  margin-bottom: 15px;
}
.section-heading .sub-heading {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 63px;
}
.section-heading .lines {
  width: 6px;
  position: relative;
  margin-left: 34px;
  margin-top: 15px;
}
.section-heading .lines:before,
.section-heading .lines:after {
  content: "";
  position: absolute;
  top: -2px;
  width: 30px;
}
.section-heading .lines:before {
  left: -34px;
}
.section-heading .lines:after {
  right: -34px;
}
.heading-pre-suf {
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: #272727;
  font-size: 22px;
}
.heading-pre-suf:before,
.heading-pre-suf:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 40px;
  height: 13px;
}
.heading-pre-suf:before {
  left: -50px;
}
.heading-pre-suf:after {
  right: -50px;
}
.text-center .lines {
  margin: auto;
}

/*footer*/
footer{
    margin-top:150px; 
    padding: 15px;
    height: 65px;
    border-top: 1px solid #efefef;
}
/*logos*/

.img-ccbol, .img-sistemas{
  max-width: 265px;
  margin: 0 auto;
  display: block;
}
.img-usfx{
  max-width: 145px;
  margin: 0 auto;
  display: block;
}
/*background slider*/
#slide-n2{
  background-image:url("../images/bg-slide-2.svg");
background-repeat: no-repeat;
background-size: cover; 
 background-position: center; 
}
#slide-n1{
  background-image:url("../images/mirador4.jpg");
background-repeat: no-repeat;
background-size: cover; 
 background-position: center; 
}