.titulo_slide_2{
    font-size: 40px;
    /*text-shadow: -3px -1px 3px #483434;*/
    color: #dedede;
    text-align: center;
    padding-top: 125px;
    font-family: 'Comfortaa', cursive;
}
.text_slide_2{
    font-size: 20px;
    color: white;
    padding-top: 28px;
    font-family: 'Comfortaa', cursive;
}
.rayas{
    width: 202px;
    height: 26px;
}
.del{
    font-family: 'Comfortaa', cursive;
}
.text-t{
    color: #eb462a;
    margin-bottom: 15px;
}
.img-build{
    display: block;
    width: 200px;
    margin: 0 auto;
}

/*//imagen slider1*/
.img-logo-idt{
    width: 100px;
}
.contenedor-icons{
    width: 60%;
}
.text-icons{
    font-size: 40px;
    color: white;
    margin: 25px;
    font-family: 'Comfortaa', cursive;
}
.text-b-icon{
    color: white;
}
@media (max-width: 767px) {
    .contenedor-icons{
        width: 100%;
    }
    .text-icons{
        font-size: 32px;
    }
    .img-logo-idt{
       width: 60px;
    }
}